.BaseSelection {
  /*margin: 5px 0px;*/
  border: 1px solid darkgreen;
  padding-bottom: 5px;
  margin: 1px;
}

form div {
  width: 100%;
  display: flex;
}

input[type="radio"] {
  margin-right: 10px;
  color: green;
}