.BaseSelection {
  border: 1px solid darkgreen;
  padding-bottom: 5px;
  margin: 1px;
}

form {
  justify-content: center;
}

form div {
  display: flex;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.topping {
  display: flex;
  justify-content: center;
}
